In [1]:
import pandas as pd
import numpy as np
from datetime import datetime


dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8), 
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.251993
2011-01-05    3.240762
2011-01-07    0.775102
2011-01-08   -0.443769
2011-01-10    1.773890
2011-01-12    0.579578
dtype: float64

In [2]:
resampler = ts.resample('D')

In [3]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [4]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [5]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [7]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [8]:
nor_date = pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)
nor_date

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
nor_date[0]

Timestamp('2012-05-02 00:00:00', freq='D')

In [10]:
from pandas.tseries.offsets import Hour, Minute

In [11]:
hour = Hour()

In [12]:
hour

In [13]:
four_hours = Hour(4)
four_hours

In [14]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [15]:
Hour(2) + Minute(30)

In [16]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [17]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [18]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [19]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    1.309780
2000-02-29   -1.360217
2000-03-31   -0.303514
2000-04-30   -0.102900
Freq: M, dtype: float64

In [20]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    1.309780
2000-04-30   -1.360217
Freq: M, dtype: float64

In [21]:
ts.shift(-2)

2000-01-31   -0.303514
2000-02-29   -0.102900
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [22]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -2.038509
2000-03-31   -0.776863
2000-04-30   -0.660970
Freq: M, dtype: float64

In [23]:
ts

2000-01-31    1.309780
2000-02-29   -1.360217
2000-03-31   -0.303514
2000-04-30   -0.102900
Freq: M, dtype: float64

In [24]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    1.309780
2000-04-30   -1.360217
Freq: M, dtype: float64

In [25]:
ts.shift(2, freq='M')

2000-03-31    1.309780
2000-04-30   -1.360217
2000-05-31   -0.303514
2000-06-30   -0.102900
Freq: M, dtype: float64

In [26]:
ts.shift(3, freq='D')

2000-02-03    1.309780
2000-03-03   -1.360217
2000-04-03   -0.303514
2000-05-03   -0.102900
dtype: float64

In [27]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    1.309780
2000-02-29 01:30:00   -1.360217
2000-03-31 01:30:00   -0.303514
2000-04-30 01:30:00   -0.102900
Freq: M, dtype: float64

In [28]:
from pandas.tseries.offsets import Day, MonthEnd

In [29]:
now = datetime(2011,11,17)

In [30]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [31]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [32]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [33]:
offset = MonthEnd()

In [34]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [35]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [36]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15   -0.976008
2000-01-19   -0.355229
2000-01-23    0.946637
2000-01-27   -0.476196
2000-01-31    1.466312
2000-02-04   -0.886458
2000-02-08    0.661079
2000-02-12    0.096626
2000-02-16    1.106893
2000-02-20   -2.248071
2000-02-24    0.247082
2000-02-28    0.600568
2000-03-03    0.831782
2000-03-07   -0.212095
2000-03-11   -0.144121
2000-03-15   -0.435677
2000-03-19    0.842262
2000-03-23    0.731918
2000-03-27   -0.415506
2000-03-31   -0.289822
Freq: 4D, dtype: float64

In [37]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.121103
2000-02-29   -0.060326
2000-03-31    0.113593
dtype: float64

In [38]:
ts.resample('M').mean()

2000-01-31    0.121103
2000-02-29   -0.060326
2000-03-31    0.113593
Freq: M, dtype: float64