In [6]:
tup = 4,5,6

In [7]:
tup

(4, 5, 6)

In [8]:
nested_tup = (4,5,6),(7,8)

In [9]:
nested_tup

((4, 5, 6), (7, 8))

In [10]:
tuple([4,0,2])

(4, 0, 2)

In [11]:
tup = tuple('string')

In [12]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [13]:
tup[0]

's'

In [14]:
tup = tuple(['foo',[1,2],True])

In [17]:
#tup[2] = False #typeError

In [18]:
tup[1].append(3)

In [19]:
tup

('foo', [1, 2, 3], True)

In [20]:
(4,None,'foo') + (6,0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [21]:
('foo','bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [22]:
tup = (4,5,6)

In [23]:
a, b, c = tup

In [24]:
b

5

In [25]:
tup = 4,5,(6,7)

In [26]:
a,b,(c,d) = tup

In [27]:
d

7

In [28]:
tmp = a

In [29]:
a = b

In [30]:
b = tmp

In [31]:
a, b = 1, 2

In [32]:
a

1

In [33]:
b

2

In [34]:
b, a = a, b

In [35]:
a

2

In [36]:
b

1

In [37]:
seq = [(1,2,3),(4,5,6),(7,8,9)]

In [38]:
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [39]:
values = 1,2,3,4,5

In [40]:
values

(1, 2, 3, 4, 5)

In [42]:
a,b,*rest = values

In [43]:
a,b

(1, 2)

In [44]:
rest

[3, 4, 5]

In [45]:
a,b,*_ = values

In [46]:
a = (1,2,2,2,3,4,2)

In [47]:
a.count(2)

4

In [48]:
a_list = [2,3,7,None]

In [49]:
tup = ('foo','bar','baz')

In [50]:
b_list = list(tup)

In [51]:
b_list

['foo', 'bar', 'baz']

In [52]:
b_list[1] = 'peekaboo'

In [53]:
b_list

['foo', 'peekaboo', 'baz']

In [54]:
gen = range(10)

In [55]:
gen

range(0, 10)

In [56]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
b_list.insert(1,'red')

In [58]:
b_list

['foo', 'red', 'peekaboo', 'baz']

In [59]:
b_list.pop(2)

'peekaboo'

In [60]:
b_list

['foo', 'red', 'baz']

In [61]:
b_list.append('dwarf')

In [62]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [63]:
b_list.append('foo')

In [64]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [65]:
b_list.remove('foo')

In [66]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [67]:
'dwarf' in b_list

True

In [68]:
'dwarf' not in b_list

False

In [69]:
 [4,None,'foo'] + [7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [70]:
x = [4,None,'foo']

In [71]:
x.extend([7,8,(2,3)])

In [72]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [75]:
a = [7,2,5,1,3]

In [76]:
a.sort()

In [77]:
a

[1, 2, 3, 5, 7]

In [78]:
b = ['saw','small','He','foxes','six']

In [80]:
b.sort(key=len)

In [81]:
b

['He', 'saw', 'six', 'foxes', 'small']

In [82]:
import bisect
c = [1,2,2,2,3,4,7]

In [83]:
bisect.bisect(c,2)

4

In [84]:
bisect.bisect(c,5)

6

In [85]:
bisect.insort(c,6)

In [86]:
c

[1, 2, 2, 2, 3, 4, 6, 7]