In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8), 
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [3]:
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.301567
2011-01-05   -0.170824
2011-01-07   -1.089862
2011-01-08    1.912126
2011-01-10   -1.307903
2011-01-12   -0.919192
dtype: float64

In [4]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [5]:
ts[::2]

2011-01-02    0.301567
2011-01-07   -1.089862
2011-01-10   -1.307903
dtype: float64

In [6]:
ts + ts[::2]

2011-01-02    0.603135
2011-01-05         NaN
2011-01-07   -2.179724
2011-01-08         NaN
2011-01-10   -2.615806
2011-01-12         NaN
dtype: float64

In [7]:
ts.index.dtype

dtype('<M8[ns]')

In [8]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [9]:
ts

2011-01-02    0.301567
2011-01-05   -0.170824
2011-01-07   -1.089862
2011-01-08    1.912126
2011-01-10   -1.307903
2011-01-12   -0.919192
dtype: float64

In [10]:
stamp = ts.index[2]

In [11]:
ts[stamp]

-1.0898619709117485

In [12]:
ts['1/10/2011']

-1.307902918964249

In [13]:
ts['20110110']

-1.307902918964249

In [14]:
longer_ts = pd.Series(np.random.randn(1000),
                     index=pd.date_range('1/1/2000',periods=1000))
longer_ts

2000-01-01    0.997765
2000-01-02   -0.946467
2000-01-03   -1.191870
2000-01-04    0.245000
2000-01-05   -1.026980
2000-01-06   -0.909567
2000-01-07   -0.483515
2000-01-08   -0.921996
2000-01-09    1.122243
2000-01-10    1.143226
2000-01-11    0.946145
2000-01-12   -0.376071
2000-01-13    0.264661
2000-01-14    0.084638
2000-01-15   -0.015852
2000-01-16   -2.176100
2000-01-17    0.962607
2000-01-18    0.376222
2000-01-19    1.132507
2000-01-20    0.641738
2000-01-21   -1.451436
2000-01-22   -1.591490
2000-01-23    0.696901
2000-01-24   -0.479540
2000-01-25   -1.111768
2000-01-26   -0.431793
2000-01-27    0.346868
2000-01-28    1.032547
2000-01-29   -2.127898
2000-01-30    1.290041
                ...
2002-08-28   -0.581743
2002-08-29   -0.254234
2002-08-30    0.211225
2002-08-31    0.559617
2002-09-01    0.895233
2002-09-02   -1.459935
2002-09-03   -0.092797
2002-09-04   -0.582724
2002-09-05    1.392628
2002-09-06   -1.146133
2002-09-07    0.026992
2002-09-08    0.195148
2002-09-09   -1.712392
2002-09-10   -1.976533
2002-09-11   -1.061420
2002-09-12    1.796032
2002-09-13    0.694685
2002-09-14    0.105715
2002-09-15   -0.537292
2002-09-16   -0.311817
2002-09-17   -0.297715
2002-09-18    1.452718
2002-09-19    0.196925
2002-09-20    0.761741
2002-09-21   -0.596767
2002-09-22   -0.969765
2002-09-23   -0.968409
2002-09-24   -0.273422
2002-09-25    0.055366
2002-09-26    0.766752
Freq: D, Length: 1000, dtype: float64

In [15]:
longer_ts['2001']

2001-01-01    0.004541
2001-01-02   -1.055410
2001-01-03    0.318265
2001-01-04    0.942606
2001-01-05   -0.602826
2001-01-06    0.723373
2001-01-07    0.724046
2001-01-08   -1.240942
2001-01-09    0.315893
2001-01-10    0.396973
2001-01-11    0.057564
2001-01-12   -0.073060
2001-01-13    0.477189
2001-01-14   -0.362694
2001-01-15   -0.030093
2001-01-16    0.288181
2001-01-17    0.941717
2001-01-18   -0.757797
2001-01-19   -0.042697
2001-01-20   -1.020215
2001-01-21   -0.346249
2001-01-22   -0.227815
2001-01-23    1.416059
2001-01-24   -1.515692
2001-01-25    0.270123
2001-01-26    1.155932
2001-01-27   -0.047608
2001-01-28   -0.271708
2001-01-29   -0.744088
2001-01-30   -0.243929
                ...
2001-12-02   -0.428855
2001-12-03   -0.371095
2001-12-04   -0.453488
2001-12-05   -2.129355
2001-12-06   -0.458974
2001-12-07   -0.793685
2001-12-08    1.268621
2001-12-09   -2.043815
2001-12-10    1.129995
2001-12-11   -1.786870
2001-12-12    1.073093
2001-12-13   -1.021342
2001-12-14    0.512752
2001-12-15   -0.816367
2001-12-16    0.233954
2001-12-17   -0.019449
2001-12-18   -0.932842
2001-12-19    1.287416
2001-12-20   -2.185692
2001-12-21    1.246765
2001-12-22   -1.048417
2001-12-23   -0.848030
2001-12-24   -1.464560
2001-12-25   -0.507407
2001-12-26    0.052414
2001-12-27    0.808458
2001-12-28    0.047981
2001-12-29    1.990044
2001-12-30    0.308939
2001-12-31    0.080107
Freq: D, Length: 365, dtype: float64

In [16]:
longer_ts['2001-05']

2001-05-01    0.604928
2001-05-02   -1.802713
2001-05-03    0.070863
2001-05-04   -1.178780
2001-05-05   -0.879057
2001-05-06    0.836078
2001-05-07   -0.281281
2001-05-08    0.787124
2001-05-09    1.597522
2001-05-10    0.079372
2001-05-11   -0.008551
2001-05-12   -0.762142
2001-05-13    1.166306
2001-05-14   -1.733973
2001-05-15   -1.989838
2001-05-16    1.069870
2001-05-17   -0.919797
2001-05-18   -1.608722
2001-05-19    1.347957
2001-05-20   -1.110016
2001-05-21    1.306142
2001-05-22   -1.341843
2001-05-23   -0.534561
2001-05-24   -0.175564
2001-05-25    0.958557
2001-05-26   -0.312257
2001-05-27   -0.262705
2001-05-28   -0.195936
2001-05-29   -0.035514
2001-05-30   -0.134462
2001-05-31    0.235781
Freq: D, dtype: float64

In [17]:
ts[datetime(2011,1,7)]

-1.0898619709117485

In [18]:
ts

2011-01-02    0.301567
2011-01-05   -0.170824
2011-01-07   -1.089862
2011-01-08    1.912126
2011-01-10   -1.307903
2011-01-12   -0.919192
dtype: float64

In [19]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -1.089862
2011-01-08    1.912126
2011-01-10   -1.307903
dtype: float64

In [20]:
ts.truncate(after='1/9/2011')

2011-01-02    0.301567
2011-01-05   -0.170824
2011-01-07   -1.089862
2011-01-08    1.912126
dtype: float64

In [22]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [23]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])

In [24]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.574989 -0.253860  0.966280  0.591986
2001-05-09  1.629587  0.171641  1.529134  1.188103
2001-05-16 -2.081829  0.814551  1.425032 -0.352711
2001-05-23 -0.032933 -0.969021  0.689476  0.807127
2001-05-30 -0.987567  0.761530 -1.214808 -0.545598

In [25]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', 
                          '1/2/2000', '1/3/2000'])

In [26]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [27]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [28]:
dup_ts.index.is_unique

False

In [29]:
dup_ts['1/3/2000']

4

In [30]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [31]:
grouped = dup_ts.groupby(level=0)

In [32]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [33]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64